VITE_ACCOUNT_HOME_API=https://PASTE-ACCOUNT-HOME-AZURE-URL-HERE
VITE_DEVICE_REGISTRY_API=https://cybcercloud-dev-reg-d9c4emawaffvfeb8.switzerlandnorth-01.azurewebsites.net
VITE_DEVICE_CONTROL_API=https://PASTE-DEVICE-CONTROL-AZURE-URL-HERE
VITE_SECURITY_API=https://PASTE-SECURITY-LOGGING-AZURE-URL-HERE
